body{
  background-color: aliceblue;
}
header{
  text-align: center;
  margin: 5%;
  border-bottom: 2px dashed black;
}
#header2{
  text-align: center;
  border-bottom: 2px dashed black;
  padding-bottom: 1%;
}
section{
  width: 95%;
}
.cuisine-example{
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  width: 100%;
  justify-content: space-evenly;
  max-height: 50%;
  max-width: 98%;
  border-bottom: 2px dashed black;
  padding-top: 2%;
  padding-bottom: 2%;
}
.nearby{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  max-width: 33%;
}
.cuisine-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  max-width: 33%;
}
img{
  max-height: 22vh;
  width:auto;
  height: auto;
}
iframe{
  width: 175%;
  height: auto;
  transform: translate(-20%,0);
}
